.popular-page {
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }
  
  .back-button {
    background-color:transparent;
    color:black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .back-button:hover {

    cursor: pointer;
  }
  
  h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Cinzel', serif;
  }
  
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:15px;
    padding: 10px;
  }
  
  .recipe-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    height:300px;
    width:230px;
  }
  
  .recipe-card:hover {
    transform: scale(1.05);
  }
  
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
  }
  
  .recipe-card h3 {
    font-size: 14px;
    color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .recipe-card p {
    font-size: 14px;
    color: #777;
    padding: 0 10px 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .recipe-list {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
  